@media only screen and (max-width: 520px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}

@media (max-width:1250px){
/* Screen 3 ----------------------------------------- */

	#screen3 #container p{
		line-height:50px;
	}
	
	#screen3 #container p .work-header{
		font-size:50px;
		line-height: 30px;
	}
	
	#screen3 #container p .work-sub-header{
		font-size:30px;
		/* color:#d66360; */
	}
	
/* Screen 4 ----------------------------------------- */	
	#photo-contain{
		height:30vh;
	}
	
/* Screen 5  ----------------------------------------- */
	#screen4 #twitter-container{	
		width:45%;
		position:relative;
		top:0px;
	}
}

@media (max-width:1000px){

/* Screen 1 ----------------------------------------- */
	#screen1 #header-contain {
		position: relative;
		top:100px;
	}
	#screen1 p{
		font-size: 50px;
	}
	#screen1 #cover{
		height:100vh;
	}
	
/* Screen 2 ----------------------------------------- */	
	#screen2 p{
		width:90%;
	}
	
	#screen2 h2{
		font-size:20px;
		width:60%;
	}
	
/* Screen 5  ----------------------------------------- */
	#screen4 #twitter-container{	
		width:55%;
		position:relative;
		top:-40px;
	}
}	

@media (max-width:900px){
/* Screen 3 ----------------------------------------- */

	#screen3 #container p{
		line-height:35px;
	}
	
	#screen3 #container p .work-header{
		font-size:40px;
		line-height: 20px;
	}
	
	#screen3 #container p .work-sub-header{
		font-size:20px;
		/* color:#d66360; */
	}
	
/* Images ----------------------------------------- */		
	#photo-contain #photo1{
		width:50%;
	}
	#photo-contain #photo2{
		width:50%;
	}
	#photo-contain #photo3{
		width:25%;
	}
	#photo-contain #photo4{
		width:25%;
	}
	#photo-contain #photo5{
		width:50%;
	}
	
	
	
/* Screen 4 ----------------------------------------- */	
	#photo-contain{
		height:1100px;
	}
}

@media (max-width:700px){
/* Screen 5  ----------------------------------------- */
	#screen4 #twitter-container{	
		width:65%;
		position:relative;
		top:-70px;
	}
	#screen3{
		height:800px;
	}
}


@media (max-width:520px){

/* Screen 1 ----------------------------------------- */
	#screen1 #header-contain {
		position: relative;
		top:50px;
		}
	#screen1 p{
		font-size: 30px;
		}
		
/* Screen 2 ----------------------------------------- */	
	#screen2 h2{
		font-size:16px;
		width:80%;
	}

/* Screen 3 ----------------------------------------- */

	#screen3 #container p{
		line-height:25px;
		font-size:12px;
	}
	
	#screen3 #container p .work-header{
		font-size:30px;
		line-height: 20px;
	}
	
	#screen3 #container p .work-sub-header{
		font-size:20px;
		/* color:#d66360; */
	}

/* Images ----------------------------------------- */		
	#photo-contain #photo1{
		width:100%;
	}
	#photo-contain #photo2{
		width:100%;
	}
	#photo-contain #photo3{
		width:100%;
	}
	#photo-contain #photo4{
		width:100%;
	}
	#photo-contain #photo5{
		width:100%;
	}
	
	
	
/* Screen 4 ----------------------------------------- */	
	#photo-contain{
		height:1250px;
	}
	
/* Screen 5  ----------------------------------------- */
	#screen4 #twitter-container{	
		width:85%;
		position:relative;
		top:-150px;
	}
	
	/* Screen 5  ----------------------------------------- */
	#tweets p{	
		font-size:8pt;	
	}
	
	
	/* test ------ */
	
	#screen3{
		height:1100px;
		}
	#screen4{
		height:600px;
		}
	#tweets ul li .interact{
		margin-bottom: 50px;
	}	
	
		/* Screen 3 ----------------------------------------- */
		
	#screen3 #container p{
		line-height: 40px;
	}
	
	#screen3 #container p .work-header{
		font-size:30px;
		line-height: 20px;
	}
	
	#screen3 #container p .work-sub-header{
		font-size:20px;
		/*  */
	}
}

	
	
	

	
	
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Screen 1 ----------------------------------------- */
	#screen1 #header-contain {
		position: relative;
		top:50px;
		}
	#screen1 p{
		font-size: 30px;
		}
		
/* Screen 2 ----------------------------------------- */	

	#screen2 h2{
		font-size:16px;
		width:80%;
	}


	
/* Photos ----------------------------------------- */	
	#photo-contain{
		height:20vh;
	}

/* Screen 5  ----------------------------------------- */
	#screen4{
		height:600px;
		}
	#screen4 #twitter-container{	
		width:85%;
		position:relative;
		top:-150px;
	}
	#tweets p{	
		font-size:6pt;	
	}
	
	
	}

}
