/*!
 * Start Bootstrap - Scrolling Nav HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

img{
	border-radius:5px;
}

img:hover{
	opacity:.8;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        box-shadow: inset rgba(0,0,0, 0.15) 0px 0px 10px;
		-moz-box-shadow: inset rgba(0,0,0, 0.15) 0px 0px 10px;
		-webkit-box-shadow: inset rgba(0,0,0, 0.15) 0px 0px 10px;
		background-color:#c3d7df; 
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.nav{
	position:relative;
	bottom:0px; 
	left:10px;
	
}

.nav li a{
	font-size:14pt;
}

a.page-scroll{
	font-family: 'Muli', sans-serif;
	border-right:grey solid 1px;
	height:38px;
	
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a{
	height:38px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background:none;
	color:#183741;
	background-color: #eee;
	border-radius: 5px; 
}


.header-title {				
	font-family: 'Adamina', serif;
	text-decoration: none;
	font-size: 42px;
	position: relative;
	color:#183741;
	
	position:relative;
	
}

.header-title:hover {
	color:rgba(23,54,64,0.83);
	text-decoration: none;
	
}

footer{
	float:left;
	width:100%;
	color:#6c6c6c;
	font-size:14px;
	font-family: 'Lato', sans-serif;
	/*text-shadow: rgba(0, 0, 0, .3) .3px .3px 0px;*/
	
	position:fixed;
	bottom:0px;
	background-color:white;
	
	margin-left:auto;
	margin-right:auto;
	
	box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 10px;
	-moz-box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 10px;
	-webkit-box-shadow: inset rgba(0,0,0, 0.1) 0px 0px 10px;
	
	height:30px;
	}

footer #footer-content{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
footer p{
	width:100%;
	text-align:center;
	margin-top: 5px;
	}
	
footer a{
	color:#6c6c6c;
	font-family: 'Lato', sans-serif;
	text-decoration:none;
	font-size:14px;
}

footer a:hover{
	color:#183741;
}

#social{
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:5px;
	}
#social td{
	opacity:.8;
	}
#social td:hover{
	opacity:.6
	}
	
footer #footer-left{
	float:left;
	width:70%;
}

footer #footer-right{
	float:left;
	width:10%;
}

.thumbnail{
	width:30%;
	float:left;
	margin: 10px;
}


/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */


	/* INTRO PAGE */

/* Layout */
.intro-section {
    height: 100%;
    padding-top: 125px;
    background: #fff;
}

#intro-left{
	float:left;
	width:50%;
	
}
	
#intro-right{
	float:left;
	text-align: center;
	width:50%;
}

#intro-right-top{
	height:290px;
}

#intro-right-bottom{
	height:290px;
}

#intro-left-top{
	height:290px;
	text-align: center;
}

#intro-left-bottom{
	height:290px;
}	
			
/* Left  (see below for Twitter) */
#author{
	width:430px;
	height:290px;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	border-radius:5px;

}

/* Right */

.intro-section #blurb{
	width:650px;
	height:195px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	position: relative;
	top:10%;
}

.intro-section #description{
	font-family: 'Muli', sans-serif;
	font-size:14pt;
	width:85%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	text-align: left;
	
	position: relative;
	top:20%;
}

#order{
	margin-right: auto;
	margin-left: auto;
	width:70%;
	height:30%;
	float:left;
	
	position: relative;
	left:80px;
	bottom:30px;
	
	/*
	background-color: rgba(197,219,227,0.54);
	border-radius:5px;
	padding:10px;
	
	box-shadow: inset rgba(0,0,0, 0.15) 0px 0px 10px;
	-moz-box-shadow: inset rgba(0,0,0, 0.15) 0px 0px 10px;
	-webkit-box-shadow: inset rgba(0,0,0, 0.15) 0px 0px 10px;
	*/	
}

#order p{
	font-size:14pt;
	text-align: left;
	margin-left:10px;
}

#intro-right-bottom-left{
	width:50%;
	float:left;
}

#intro-right-bottom-left .glyphicon{
	border-radius:20px;
	width:200px;
}

#intro-right #cover{
	margin-left:50px;
	border-radius:5px;
	width:15%;
	height:100%;
	float:left;
	
	position: relative;
	left:56px;
	bottom:30px;
}

#intro-right .btn-primary{
	float:left;
	margin-left: 10px;
	width:30%;
	height:100%;
	font-size:14pt;
}

.btn-primary{
	background-color:white;
	
	color:#183741;
	/* border: solid 1px #183741;*/
	border:none;
	
	box-shadow: inset rgba(0,0,0, 0.25) 0px 0px 10px;
		-moz-box-shadow: inset rgba(0,0,0, 0.25) 0px 0px 10px;
		-webkit-box-shadow: inset rgba(0,0,0, 0.25) 0px 0px 10px;
}

.btn-primary:hover{
	background-color:#183741;
	border:solid 1px white;
}

.btn-primary:active{
	background-color:white;
}

.text-link{
	font-family: 'Muli', sans-serif;
	font-size:14pt;
	color:#428bca;
}

.text-link:hover{
	font-family: 'Muli', sans-serif;
	font-size:14pt;
	text-decoration: none;
}


/* About Me PAGE */

.about-section {
    height: 100%;
    padding-top: 150px;
   /* background:  rgba(224,235,240,0.5); */ 
    background: rgba(23,54,64,0.05);
}

.about-section #about-left{
	float:left;
	width:30%;
	height:100px;
}

.about-section #about-right{
	float:left;
	width:68%;
	height:100px;
}

.about-section #img-scott{
	width:90%;
}

.about-section #author-description{
	width:100%;
	max-height: auto;
	
}

.about-section p{
	font-size:13pt;
	text-align: left;
}


/* Nat Park Mysteries Section */

.mysteries-section {
    height: 100%;
    padding-top: 75px;
    text-align: center;
    background: #fff;
}

.reviews-section {
    height: 100%;
    padding-top: 100;
    text-align: center;
    background: rgba(23,54,64,0.05);
}

.moreBooks-section {
    height: 100%;
    padding-top: 125px;
    background: #fff;
}

.moreBooks-section-left{
	float:left;
	width:33%;
}

.moreBooks-section-middle{
	float:left;
	width:33%;
}

.moreBooks-section-right{
	float:left;
	width:33%;
}
/* Twitter Style */


#tweets{
	float:left;
	overflow: scroll;
	height:100%;
	width:100%;
	
	position: relative;
	bottom:0px;
	left:60px;
}

#tweets p, a {
  font-size:9pt;
  margin:1px 0 0 0;
  text-decoration: none;
  font-family: 'Muli', sans-serif;
  	}

#tweets p, a:hover {
  text-decoration: none;
  	}


#tweets ul li {
  list-style:none;
  overflow:hidden;
  margin:5px;
  padding:5px; 

}


.tweet {
  width:100%;
}

/*

.user {
  clear:left;
}

.user a {
 width: 100px;
}

.user span span {
  width:100px;
  display:block;
  margin-top:10px;
}

*/


.interact a {
  margin-left:5px;
  color:black;
  padding:2px;
  font-size: 10px;
  float:left;
  font-family: 'Lato', sans-serif;
  border: solid black 1px;
  border-radius: 3px;
  margin-top: 5px;
  
  

}

.interact a:hover {
	color:white;
	background-color:#183741;
	text-decoration: none;
}


/*
#linkage {
  position:fixed;
  top:0px;
  right:0px;
  background-color:#3d3d3d;
  color:#ffffff;
  text-decoration:none;
  padding:5px;
  margin-right: 10px;
  width:10%;
  font-family: 'Lato', sans-serif;

}
*/

#twitterBird{
	width:50px;
	height:50px;
	position:relative;
	left:65px;
	top:25px;
}
	
	
	
	
	
	
	
	