/*
Taylor Buzzell Graham Style
*/


/* 
scheme: 
#d66360 (red - link hover, highlights)
#f2f1ed (greyish - background)
#a6a6a6 (dark grey - nav text)
#333333 (headers for pages, nav hover)
*/

*{margin: 0; padding: 0;}

a {
	text-decoration: none;
	color:rgb(166, 166, 166);
	}
a:hover{
	text-decoration: underline;
	color:#d66360;
	/* color:#bb4b47;*/
}
a:focus{
	text-decoration: none;
}

/* This class is added on scroll */
.fixed {
	position: fixed; 
	top: 0; 
	height: 50px; 
	z-index: 1;
}

/* horizontal scroll */

/*
.scroll
{
    position: fixed;
    bottom: 0;
    width: 500px;
}

#text1{
	z-index:3;
}

#text2{
	z-index:2;
}

#text3{
	z-index:1;
}

*/

/*This class added on scroll to certain sections */
.highlight {
	color:#d66360;
}

body {
	color: #fff;
	font-family: 'open-sans-bold';
	font-weight: 200; 
	font-size: 18px;
	text-align: center;
}

/* Navigation Settings ------------------------------------------------------------------------  */
nav {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #fff;
	
	-moz-box-shadow: 0 1px 12px -3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 12px -3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 12px -3px rgba(0,0,0,0.3);
	
	z-index: 5;
}

nav li {
	display: inline-block;
	padding: 12px 10px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

nav li a {
	text-transform: uppercase;
}

nav li a:hover {
	color: #d66360 !important;
	text-decoration: none;
	/* text-transform: uppercase; */
}


section {
	height: 100vh;
}

/* Footer style  ------------------------------------------------------------------------  */
#social{
	margin-left:auto;
	margin-right:auto;
	}
#social td{
	opacity:.8;
	}
#social td:hover{
	opacity:.6
	}

footer{
	width:100%;
	color: black;
	font-size:12px;
	font-family: 'Open Sans', sans-serif;
		
	position:absolute;
	right:25px;
	bottom:8px;
	background-color:white;
	
	margin-left:auto;
	margin-right:auto;
	}
	
footer p{
	width:100%;
	text-align:center;
	}
	
footer a{
	text-decoration:none;
	color:#d66360;
	padding:0px 2px 0px 2px;
}

footer a:hover{
	text-decoration: underline;
	}
	

/* Home Screen Style  ------------------------------------------------------------------------  */

#screen1 {	
}

#screen1 #cover{
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	width:100%;
}

#screen1 #header-contain {
	width:100%;
	margin-left: auto;
	margin-right: auto;
	height:500px;
	max-height: 500px;
	overflow: hidden;
	position: relative;
	top:150px;
}

#screen1 p {
	padding-top: 50px;
	
/* font-family: 'Gentium Book Basic', serif; */
/* font-family: 'Tinos', serif;	*/
font-family: 'Quicksand', sans-serif; 
/* font-family: 'Josefin Sans', sans-serif; (bold) */
/* font-family: 'Amatic SC', cursive; (great font, not here */
font-weight:  ;

	letter-spacing: 5px;
	font-size: 80pt;
	line-height: 80%;
	/* color:#d66360;*/	
}


#screen1 #p-sub {
	font-family: 'Open Sans', sans-serif;
	
	letter-spacing: 2px;
	font-size: 22pt;
	font-weight:300;
	color:#d66360;
	text-align: right;
	
	position:relative;
	bottom:170px;
	right:25px;
}

/* SVG  ------------------------------------------------------------------------*/

#screen1 a:hover{
	text-decoration: none;
}

.svg-wrapper {
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px; 
  position:relative;
  top:75px;
  }
 
 .svg-wrapper a:hover{
	 text-decoration: none;
 } 
 
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #d66360;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 8px;
  color: #fff;
  position: relative;
  top:-55px;
  color:#d66360;
}
.text:hover{
	text-decoration: none;
	border:none;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  
}

/* Screen 2 -  About Style ------------------------------------------------------------------------ */

#screen2 {
	padding-top: 35px;
	background: #ffffff;
	height:80vh; 
	/* font-family: 'Gentium Book Basic', serif; */
	/* background: radial-gradient(circle, white, #90cfff); */
}

#screen2 a{
	color:#d66360;
}

#screen2 p {
	padding-top: 50px;
	color: black;
	
	margin-left: auto;
	margin-right: auto;
	width:40%;
	text-align: left;
	
	line-height: 200%;
	
	position:relative;
	bottom:35px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	
}

#screen2 #profile{
	margin-top:50px;
	width:15%;
	margin-left: auto;
	margin-right: auto;
	
}

#screen2 h2{
	
	letter-spacing: 2px;
	font-size: 22pt;
	font-weight:300;
	color:#d66360;
	text-align: left;
	
	margin-left: auto;
	margin-right: auto;
	width:40%;
	
	margin-top:20px;
	padding-bottom: 10px;
	border-bottom: #d66360 solid 1px;
	
	font-family: 'Gentium Book Basic', serif;
	font-style: oblique;
	
}

#screen2-block1{
	position:absolute;
	right:80px;
	
	width:30px;
	height:280px;
	background-color:#d66360;
	
}

#screen2-block2{
	position:absolute;
	right:30px;
	
	width:10px;
	height:400px;
	background-color: #a6a6a6;
}

#screen2-block3{
	position:absolute;
	right:100px;
	
	width:20px;
	height:600px;
	background-color: white;
	border:1px black;
}

/* Work (Portfolio) ------------------------------------------------------------------------ */

		#work-holder{
			height:150px;
			background-color: white;
		}
		
#work{
	background-color: white;
	height:50vh;
	}

#work .row{
	position: relative;
	top:75px;
}

#work i{
	width:100%;
}
	
.panel-default{
	border:none;
}

.panel-group .panel{
	border-radius: 0px;
}

.panel-default>.panel-heading{
	background-color: white;
	border-color: white;
}

.panel-title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-size: 16pt;
	color:#d66360;
	background-color: white;
	}
.panel-title:focus{
	text-decoration: none;
}

.panel-body .row{
	margin-top: 25px;
	color: black;
}

.writing-title{
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	padding:5px; 
	color:black;
}

.modal{
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	font-size: 20pt;
	color:#d66360;
}

.modal-body .row{
	margin-bottom: 20px;
}

/* Work - Screen 3  ------------------------------------------------------------------------ */

#screen3 {
	/*background:#a6a6a6;*/
	background: #d66360; 
	margin-top:0px;
	}

#screen3 #container{
	width:100%;
	padding:25px;
}

#screen3 #container #thumbnail-container{
	position:absolute;
	right:120px;
	width:25%;
	float:right;
	margin-top: 40px;
}

.work-thumbnail{

}

#vimeo-logo{
	width:125px;
	position:relative;
	top:50px;
}

#insta-logo{
	width:110px;
	position:relative;
	top:;
}

.image-opacity{
	opacity:.75;	
}

.link{
	background-color:#d66360;
	color:white;
}

#screen3 #container p{
	float:left;
	text-align:left;
	color: white;
	line-height: 200%;
	font-family: 'Open Sans', sans-serif;
	font-weight:200;
	margin-top: 75px;
	
	line-height:70px;
	margin-left:50px;
}

#screen3 #container p .work-header{
	font-size:80px;
	line-height: 40px;
	font-weight: 300;
}

#screen3 #container p .work-sub-header{
	font-family: 'Gentium Book Basic', serif;
	font-style: oblique;
	font-weight: 200;
	font-size:40px;
	/* color:#d66360; */
}

#screen3 #container p a{
text-decoration: underline;
}

#screen3 #container p .work-link{
	/* color:#428bca; */
	color:white;
}

#screen3 #container p .work-link:hover{
	opacity: .75;
}


#in-text{
	margin-right:5px;
	margin-left:5px;
}

#in-text:hover{
	opacity: .75;
}

.hover:hover{
	opacity: .75;
}


/* Photo  ------------------------------------------------------------------------  */

#photo{
	padding:20px;
	
}

#photo-contain{
	position: relative;
	top:20px;
	width:95%;
	margin-left: auto;
	margin-right: auto;
}

#photo .row{
	margin-bottom: 20px;
}

/* Screen4 Style  ------------------------------------------------------------------------  */

#screen4 {
	background: #ffffff;
}

#screen4-target{
	position:relative;
	top:30px;
}

/* Twitter Style */

#screen4 #twitter-container{	
	margin-left: auto;
	margin-right: auto;
	width:35%;
	
	position:relative;
	top:100px;
}

#screen4 p{	
	color: black;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	font-size:12pt;	
	font-weight: 200;
}

#screen4 #twitter-bird{
	width:16%;
	margin-bottom: 20px;

}

#screen4 #twitter-bird:hover{
	opacity:.8;
	width:75px;
	width:16%;
}

#tweets p a {
  font-size:12pt;
  margin:1px 0 0 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  color:#d66360;
    	}

#tweets p a:hover {
  text-decoration: underline;
  
  	}


#tweets ul li {
  list-style:none;
  overflow:hidden;
  margin:5px;
  padding:5px;

}

#tweets .interact a {
  margin-left:5px;
  color:black;
  padding:2px;
  font-size: 10px;
  float:left;
  font-family: 'Open Sans', sans-serif;
 
 /*
  border: solid black 1px;
  border-radius: 3px;
 */
  margin-top:0px;
  text-align: center;
  

}

#tweets .interact a:hover {
	color:#d66360;
	text-decoration: none;
}


/* Fonts */

@font-face {
	font-family: 'code-light';
	src: url('fonts/codeL.otf');
	src: 
		url('fonts/codeL.otf') 
		format('opentype');
	}

@font-face {
	font-family: 'code-bold';
	src: url('fonts/codeB.otf');
	src: 
		url('fonts/codeB.otf') 
		format('opentype');
	}


/* Popups */

/*  Work --------------------------- */

.video{
	width:550px;
	height:308px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#work .row{
	margin-top: 50px;
}

#description{
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size:10pt;
	color:black;
	
	padding:10px;
	/* border:solid 1px black; */
}

.writing-title{
	font-size:16pt;
}

#writing-contain{
	width:80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.work-image{
	width:80%;
}

#video-contain{
	width:80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#photo-contain{
	width:80%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.large-title{
	color:#d76561;
	font-size: 34pt;
	margin-bottom: 50px;
	margin-top: 150px;
	font-family: 'Quicksand', sans-serif;
}
.divider{
	margin: 20px 0px 20px 0px;
	width:75%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#bottom-space{
	height:200px;
}










