html{
	width:100%
	}
	
body{
	position:fixed;
	left:100px;
	top:25px;
	width:85%;
	margin-left:auto;
	margin-right:auto;
	
	}
	
#left{
	
	/*background-color:red;*/
	width:15%;
	float:left;
	height:400px;
	}
	
#right{
	/*background-col/Volumes/Macintosh%20HD/Users/taylorgraham/Desktop/Websites/Taylor%20Graham/css/style.cssor:blue;*/
	height:550px;
	overflow:scroll;
	width:80%;
	float:left;
	}
	
#logo{
	float:left;
	width:50px;
	height:50px;
	}

#logo:hover{
	opacity:.8;
	}	
	
#header{
	/*background-color:yellow;*/
	position:relative;
	left:175px;
	width:100%;
	height:75px;
	}
	
#title{
	position: relative;
	float:left;
	color: grey;
	text-decoration:none;
	font-size:20px;
	font-family: century gothic;
	text-shadow: rgba(0, 0, 0, .4) .5px .5px 0px;
	}

#snow{
	position:fixed;
	top:110px;
	width:68%;
	height:200px;
			
	z-index:-1;
	}
				
nav{
	position:relative;
	padding-left:-50px;
	height:33px;
	width:130px;
	z-index:2;
	}
	
nav ul li {
	color:grey;
	background-color:white;
	}
	
nav ul {
	list-style: none;
	position: relative;
	color: grey;
	text-decoration:none;
	font-size:18px;
	font-family: century gothic;
	text-shadow: rgba(0, 0, 0, .4) .5px .5px 0px;
}

nav ul ul {
	display: none;
	}

nav ul li:hover > ul {
	display: block;
	}
	
nav ul li:hover {
	background-image: url('http://www.scottfranklingraham.com/images/dots2.png');
	background-repeat:repeat;
	}

nav ul li #upper {
	display: block; 
	padding: 5px 10px;
	color: grey; 
	text-decoration: none;
	}

nav ul li #upper:hover {
	display: block; 
	padding: 5px 10px;
	color: white; 
	text-decoration: none;
	}
	
nav ul ul {
	width:64px;
	padding: 0;
	position: absolute;
	left:130px;
	top:64px;
	}
	
nav ul ul li {
	float: none;
	color: #757575;
	border-left:solid 1px black;  
	}

nav ul ul li a {
	font-size:16px;
	display: block; 
	color: grey; 
	text-decoration: none; 
	padding:3px;
	padding-left:8px;
	}
	
nav ul ul li a:hover {
	float: none;
	color: white;
	font-size:16px; 
	}

/*
#social{
	opacity:1;
	position:relative;
	top:150px;
	left:65px;
	z-index:1;
	}

#social td{
	opacity:.8;
	margin-left:2px;
	background-image: url('http://www.scottfranklingraham.com/images/dots2.png');
	background-repeat:repeat;
	position:relative;
	right:20px;
	display:inline;
	padding-right:2px;
	padding-left:2px;
	padding-top:0px;
	padding-bottom:0px;
	float:left;
	height:25px;
	}

#social td:hover{
	opacity:.6;
	border-bottom:solid white 1px;
	}
*/
#social{
	margin-top:-10px;
	margin-left:auto;
	margin-right:auto;
	}
#social td{
	opacity:.8;
	}
#social td:hover{
	opacity:.6
	}

footer{
	width:100%;
	color:grey;
	font-size:12px;
	font-family: century gothic;
	text-shadow: rgba(0, 0, 0, .4) .5px .5px 0px;
	
	position:fixed;
	right:25px;
	bottom:0px;
	background-color:white;
	
	margin-left:auto;
	margin-right:auto;
	}
	
footer p{
	width:100%;
	text-align:center;
	}
	
footer a{
	text-decoration:none;
	color:grey;
}

footer a:hover{
	color:black;
	}
	
/* TEMPORARY INSTALLMENT */

#header #interactiveLink{
		position:relative;
		top:3px;
		left:180px;
		
		border-top: 1px solid black;
		border-right: 1px solid black;
		
		width:200px;
		text-decoration:none;
		color:grey;
		font-family: courier new;
		font-size:14;
		
		padding-right: 5px;
	}
	
	#header #interactiveLink:hover{
		color:black;
	}


#header #ropeLink{
		position:relative;
		top:3px;
		left:150px;
		
		border-right: 1px solid black;
		border-top: 1px solid black;		
		width:200px;
		text-decoration:none;
		color:grey;
		font-family: courier new;
		font-size:14;
		
		padding-right: 5px;
	}
	
	#header #ropeLink:hover{
		color:black;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	