/*
Taylor Buzzell Graham Style
*/
body{
	z-index:10;
}
.hidden{
	display:none;
	overflow: hidden;
}
#preloader {
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle;
    width:100%;
    height:100%;
    height:110vh;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-repeat:no-repeat;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
    z-index:99;
    font-family: 'raleway';
    font-size:18pt;
}
body{
	position: relative;
}
p{
	font-family:'raleway', serif;
	/* line-height:170%;
	text-align:justify;
	font-weight:400; */
	position:relative;
	color:black;
}
a{
	font-weight: 400;
	color:black;
	text-decoration: none;
}
a:hover{
	text-decoration:line-through;
	color:black;
}
.header{
	font-weight: 700;
	font-size: 16pt;
	color:black;
	text-align: left;
}
.underline{
	border-bottom:solid 1px black;
}
ul{
	-webkit-padding-start: 0px;
}
.icon{
	font-size: 4em;
}
.icon:hover{
	text-decoration: none;
}
.no-line:hover{
	text-decoration: none;
}
hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
#spacer{
	height:50px;
	width:100%;
}
.hover:hover{
	opacity:.9;
}

/* SVG  ------------------------------------------------------------------------*/

#screen1 a{
	text-decoration: none;
	color:black;
}
#screen1 a:hover{
	text-decoration: none;
}
.svg-wrapper {
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px; 
  position:relative;
  top:60px;
  }
.svg-wrapper a:hover{
	 text-decoration: none;
 } 
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: black;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
#scroll{
	font-size: 24px;
  line-height: 40px;
  letter-spacing: 5px;
  position: relative;
  top:-55px;
  text-decoration: none;
  font-family: 'proxima-nova';
  font-weight: 200;
  color:black;
}
#text {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 5px;
  position: relative;
  text-decoration: none;
  font-family: 'proxima-nova';
  font-weight: 200;
  color:black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  border:solid black 1px;
  width:250px;
  margin-left: auto;
  margin-right: auto;
}
#text:hover{
	background: black;
	color:white;
	/*background:#dddddd;*/
}
#text-small{
	font-size: 35px;
  line-height: 40px;
  letter-spacing: 5px;
  position: relative;
  text-decoration: none;
  font-family: 'proxima-nova';
  font-weight: 200;
  color:black;
  margin-top: 50px;
  margin-bottom: 50px;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  stroke:black;
}

/* Screen 1  ------------------------------------------------------------------------*/

#screen1 {
	padding-top: 35px;
	background: #ffffff;
	height:100vh; 
	text-align: center;
}
#screen1 a{
	color:#d66360;
}
#screen1 p {
	padding-top: 15px;
	color: black;
	
	margin-left: auto;
	margin-right: auto;
	width:40%;
	min-width: 250px;
	text-align: justify;
		
	position:relative;
	font-weight: 200;
	font-size:14pt;
}
#screen1 #profile{
	margin-top:50px;
	margin-bottom: 15px;
	width:250px;
	margin-left: auto;
	margin-right: auto;	
}
#screen1 #profile:hover{
	opacity: .9;
}
#screen1 h2{
	letter-spacing: 2px;
	font-size: 20pt;
	font-weight:300;
	color:black;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width:40%;
	margin-top:20px;
	padding-bottom: 10px;
	border-bottom: black solid 1px;
	font-family: 'proxima-nova', serif;
}


/* Screen 2  ------------------------------------------------------------------------*/

#screen2{
	text-align: center;
	overflow: hidden;
	position:relative;
	bottom:0px;
	padding:0px 20px 0px 20px;
}

/* About */
#screen2 #about-container{
	padding:15px;
}
#screen2 .about{
	color: black;
	text-align: justify;
	position: relative;
	font-weight: 200;
	font-size: 11.5pt;
	margin-bottom: 20px;
}
.small-dialogue h1{
	font-family: 'proxima-nova', serif; 
	font-size:14pt;
	font-weight: 400;
}
.small-dialogue a{
	font-family: 'raleway', serif; 
	font-size:11pt;
	font-weight: 400;
}
.small-dialogue p{
	font-family:'raleway', serif;
	font-weight: 200;
	font-size:12pt;
}
.small-dialogue{
	margin-left: auto;
	margin-right: auto;
	background: white;
	text-align: left;
	padding: 30px;
	position: relative;
	font-family: 'proxima-nova', serif; 
	width:90%;
	max-width: 550px;
}
.pop-up-logo{
	margin-bottom:20px;
	width:200px;
}

/* Current */
#currently-container{
	padding:15px;
	color: black;
	text-align: justify;
	position: relative;
	font-weight: 200;
	font-size: 12pt;
}

/* Twitter */
#screen2 #twitter-container{	
	margin: 15px;
	position:relative;
}
#twitter{
	font-size: 5em;
}
#tweets p{
	color: black;
	text-align: left;
	position: relative;
	font-weight: 200;
	font-size: 12pt;
	line-height: 1.25;
}
#tweets p a:hover {
  text-decoration:line-through;
	color:black;
  }
#tweets p a {
  font-size:12pt;
  margin:1px 0 0 0;
  text-decoration: none;
  color:black;
  }
#tweets ul li {
  list-style:none;
  overflow:hidden;
  margin:15px 0px 8px 0px;
}
#tweets .interact a {
  margin-left:5px;
  color:black;
  padding:2px 2px;
  font-size: 11px;
  float:left;
  margin-top:0px;
  text-align: center;
}
#tweets .interact a:hover {
	text-decoration:line-through;
	color:black;
}
.tweet{
	border-left:solid black 1px;
	padding-left: 10px;
}
#social-container{
	margin-left: auto;
	margin-right: auto;
	padding:15px;
}
#social-container .icon{
	margin-bottom: 8px;
}

/* Footer  ------------------------------------------------------------------------*/
footer{
	position: fixed;
	bottom:3px;
	right:20px;
	
	font-size: 11pt;
	font-weight: 200;
	font-family: 'poxima-nova', serif;
	letter-spacing: 1px;
}

/* Acknowledge  ------------------------------------------------------------------------*/
#by-me{
	position: fixed;
	bottom:3px;
	left:20px;
	font-size: 11pt;
	font-weight: 200;
	letter-spacing: 1px;
}




/* Portfolio  ------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------*/
#work-page{
	padding:30px;
}
#work-page hr{
	margin-top:50px;
	margin-bottom: 50px;
}
#left-nav{
	height:100px;
	margin-top: 5px;
}
nav>ul{
	z-index:9;
	background-color: white;
	width:200px;
	text-align:right;
	text-transform: capitalize;
	font-family: "raleway";
}
.nav>li>a{
	padding:0px;
	letter-spacing: 2px;
	padding-right: 5px;
}
.border-right{
	border-right:2px solid black;
	position: relative;
	left:2px;
}
#mobile-nav{
	position:fixed;
	top:0px;
	right:30px;
	width:100%;
	background-color:white;
	z-index:9;
	padding-bottom: 15px;
	padding-top: 10px;
}

.work-header{
	font-size:16pt;
}
#header{
	height:30px;
	background-color: white;
}
.work-image{
	width:90%;
	margin-bottom: 10px;
}
.writing-title{
	font-size:12pt;
	font-weight: 400px;
	font-family: 'proxima-nova';
	border-bottom: black solid 1px;
}
.description{
	margin-top: 15px;
	font-size:10pt;
}
.video{
	width:90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#right-content .row{
	margin-bottom: 25px;
}
#photo{
	z-index:9;
}
.full-image{
	width:100%;
}
















/*
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla orci metus, rutrum ac enim et, viverra bibendum quam. Pellentesque sed efficitur augue, non euismod sapien. Morbi convallis, elit eget facilisis sagittis, nisl magna malesuada odio, quis consequat lacus nisi eget libero. Vestibulum metus sem, luctus quis massa vitae, aliquet ultricies magna. Donec nec tincidunt lectus, nec vehicula sem. Quisque maximus metus nec vulputate posuere. Nam tempus quam et neque faucibus ullamcorper. Donec ut feugiat sapien. Fusce lobortis odio arcu, in ultrices mauris pharetra id. Nullam a justo nulla. Donec sed euismod sapien. Duis eget malesuada nisl, nec lacinia augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.