a:hover{
	text-decoration: none;
	color:black;	
}
a{
	color:black;
	font-weight: bold;
}
body{
	font-family: 'raleway', serif;
	background-color: white;
	/*font-family: "proxima-nova",sans-serif;*/
}
img{
	margin-bottom: 20px;
}
img.desaturate {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
#intro-pic{
	position:relative;
	top:0px;
	left:0px;
	z-index: -1;
}
.span12{
	margin:0px;
}
.ital{
	font-style: italic;
}

/* SVG  ------------------------------------------------------------------------*/

#screen1 a{
	text-decoration: none;
	color:black;
}
#screen1 a:hover{
	text-decoration: none;
}
.svg-wrapper {
  transform: translateY(-50%);
  margin: 0 auto;
  width: 320px; 
  position:relative;
  top:60px;
  }
.svg-wrapper a:hover{
	 text-decoration: none;
 } 
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: white;
  border-bottom: 5px solid white;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
#scroll{
	font-size: 24px;
  line-height: 40px;
  letter-spacing: 5px;
  position: relative;
  top:-55px;
  text-decoration: none;
  font-family: 'proxima-nova';
  font-weight: 200;
  color:white;
}
#text {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 5px;
  position: relative;
  text-decoration: none;
  font-family: 'proxima-nova';
  font-weight: 200;
  color:black;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  border:solid white 1px;
  width:250px;
  margin-left: auto;
  margin-right: auto;
}
#text:hover{
	background: white;
	color:white;
	text-decoration: none;
	/*background:#dddddd;*/
}
#text-small{
	font-size: 35px;
  line-height: 40px;
  letter-spacing: 5px;
  position: relative;
  text-decoration: none;
  font-family: 'proxima-nova';
  font-weight: 200;
  color:white;
  margin-top: 50px;
  margin-bottom: 50px;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
  stroke:white;
}


/*-----------*/

/* Desktop Title*/
#header-desktop{
	position: absolute;
	top:50px;
	left:75px;
	z-index:2;
	color:white;
	text-align:center;
	width:400px;
}
	#title-desktop{
		font-size: 80pt;
		line-height: 100%;
	}
	#sub-title-desktop{
		font-size: 15pt;
		line-height: 100%;
	}
	
/* Tablet Title*/
#title-tablet{
	margin-top: 20px;
	font-size: 50pt;
	line-height: 100%;
	text-align:center;
}
#sub-title-tablet{
	font-size: 20pt;
	line-height: 100%;
	text-align:center;
}
	
/* Phone Title*/
#header-phone{
	text-align:center;
}
#title-phone{
	margin-top: 20px;
	font-size: 35pt;
	line-height: 100%;
	text-align:center;
}
#sub-title-phone{
	font-size: 15pt;
	line-height: 100%;
	text-align:center;
}

/* CONTENT */

.map{
	border: solid black 1px;
}
.body{
	font-size: 12pt;
	line-height: 220%;
	
}
#content{
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 100px;
	
	font-family: "proxima-nova",sans-serif;
}
.row-fluid{
	margin-bottom: 50px;
}
.middle-large{
	font-size: 5vmin;
	line-height: 120%;
	margin-bottom:10vmin;
	margin-top:10vmin;
}
.caption-3-left{
	font-size:12pt;
	line-height: 130%;
	border-right:black solid 1px;
	padding-right: 10px;
	padding-bottom: 20px;
	text-align: right;
}
.caption-right{
	font-size:12pt;
	line-height: 130%;
	border-left:black solid 1px;
	padding-left: 10px;
	padding-bottom: 20px;
	padding-top: 10px;
}

/*
@media (min-width: 768px) and (max-width: 979px){
  header{
		text-align: center;
	}
  #title{
		font-size: 2em;
		width:400px;
		line-height: 100%;
	}
}
@media (max-width: 320px) {
	header{
		text-align: center;
	}
  #title{
		font-size: 2em;
		width:400px;
		line-height: 100%;
	}
}
*/
