/*  Layout ------------------------------------- */

.page{
	height:1000px;
	background-color: white;
	border-bottom: black solid 1px;
}
p{
	font-family:'freight-sans-pro', serif;
	font-size:16pt;
	line-height:170%;
	padding:50px;
	position:relative;
	text-align:justify;
	font-weight: light;
}
hr{
	width:90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: none;
}
section{
	/*border-bottom: 1px solid black;*/
	overflow:hidden; 
}

/* Text Types --------------- */
.on-black{
	color:white; 
}
.on-white{
	color:black; 
}
.strong{
	font-weight: 100;
	font-size: 20pt;
	font-family:'museo-slab', sans-serif;
}
.small-text{
	font-size:13pt;
	line-height:150%;
}
.label{
	padding:5px;
	font-size:10pt;
	line-height:120%;
	font-weight:bold;
}
/* Textboxes (Containers)  --------------- */
.small-textbox{
	width:400px;
}
.medium-textbox{
	width:550px;
}
.full-width{
	width:100%;
	height:200px;
}
.border{
	border:black solid 1px;
	margin: 0px 40px 0px 40px;
	padding:20px;
}


/* Spacers --------------- */
.space-50{
	height:50px;
}
.space-100{
	height:100px;
}
.space-200{
	height:200px;
}
.space-300{
	height:300px;
}
.space-600{
	height:600px;
	border: solid black 1px;
	
	width:90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/* Part One --------------- */
#part-one{
	background-color: white;
}
	#page-intro{
		height:600px;
		position: relative;
		/*
		background: url(backgrounds/sefan.jpg) no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	   */
	}
		#title-contain{
			position: relative;
		}
		#onion{
			height:700px;
			position: relative;
			right:150px;
			top:0px;
			float:left;	
		}
		#title{
			font-family:'museo-slab', sans-serif;
			font-size:60pt;
			position: relative;
			right:150px;
			top:365px;
			
			/*border-left:solid black 20px;*/
		}
		#barbed-wire{
			height:100%;
			position:relative;
			display:none;
		}
		
	#page-one{
		height:500px;
		z-index:3;
		background-color: black;
	}
		#text-one{
			float:left;
			display:none;
		}
		#text-two{
			display:none;
		}
		#airplane{
			display:none;
			position: relative;
			width:700px;
			bottom:200px;
			left:100px;
			}
	
	#page-two{
		height:800px;
		overflow: hidden;
	}
		#text-three{
			display:none;
			position:relative;
			bottom:350px;
			background-color:black;
			
			width:750px;
		}
		#wall-image{
			float:left;
			width:115%;
			height:650px;
			position:relative;
			bottom:50px;
			
		}
		
	#page-three{
		height:850px;
	}
		#text-four{
			display:none;
		}
		#protest-image{
			display:none;
			background-color: black;
			width:100%;
			height:100%;
		}
			#text-five{
				background-color: white;
				position:relative;
				top:30px;
			}
			#protest-image-contain{
				background-color: white;
				position: relative;
				top:30px;
				height:540px;
				overflow: hidden;
			}
				#protest{
					position: relative;
					width:90%;
					bottom:250px;
				}
				#protest-background{
					position: relative;
					width:100%;
					bottom:500px;
				}
				#teargas-animation{
					position: relative;
					bottom:45px;
					left:35px;
				}
	#page-four{
		height:650px;
	}
		#text-six{
			display:none;
			position: relative;
			top:200px;
		}
		#teargas-image{
			display:none;
			position: relative;
			bottom:500px;
		}
	
	#page-five{
		height:900px;
	}
		#taxi-image{
			position: relative;
			background-color:black;
			width:100%;
			z-index: 1;
		}
		#taxi{
			width:70%;
			position:relative;
			bottom:55px;
			display: none;
			
		}
		#text-seven{
			position: relative;
			display:none;
		}
		#text-seven-contain{
			position: relative;
			z-index: 2;
			background-color: white;
		}
	
/* Part Two --------------- */	
#part-two{
	background-color: black;
}
	#page-six{
		height:1100px;
		}
		#text-eight{
			
		}
		#wall-image-contain{
			background-color: white;
			height:800px;;
			text-align: center;
		}
		#bulldozer{
			width:80%;
			margin-left:auto;
			margin-right:auto;
			position:relative;
			top:275px;
			right:30px;
		}
		#hole{
			width:100%;
			position:relative;
			bottom:440px;
		}
		
	#page-seven{
		height:700px;
	}
		#text-nine{
			background-color: white;
			position:relative;
			top:30px;
			display: none;
		}
		#explosion-contain{
			height:600px;
			background:white;
			position: relative;
			top:30px;
			display: none;
		}
			#explosion{
				width:100%;
				position: relative;
				bottom:200px;
			}
			#debris{
				width:50%;
				position: relative;
				left:300px;
			}
			#figures{
				width:40%;
				position: relative;
				bottom: 300px;
				right:100px;
			}
			#explode-animation{
				position: relative;
				left:425px;
				top:125px;
			}
	#page-eight{
		height:300px;
		background-color: white;
	}
		#text-ten{
			
		}
	
	#page-nine{
		height:2300px;
	}
		#torture-one{
			height:500px;
			display: none;
		}
			#text-eleven{
				position: relative;
				font-size: 18pt;
				width:400px;
			}
			#torture-one-contain{
				height:450px;
				background-color: black;
				position: relative;
				top:25px;
				left:150px;
			}
				#face{
					width:65%;
					position:relative;
					left:100px;
				}
		#torture-two{
			height:500px;
		}
			#text-twelve{
				position: relative;
				top:100px;
				font-size: 20pt;
				width:400px;
			}
			#torture-two-contain{
				height:450px;
				background-color: black;
				position: relative;
				top:25px;
				left:150px;
			}
				#water{
					position:relative;
					right:10px;
				}
				#sit{
					width:100%;
					position:relative;
					bottom: 475px;
					right:25px;
				}
		#torture-three{
			height:500px;
		}
			#text-thirteen{
				position: relative;
				top:100px;
				font-size: 20pt;
				width:400px;
			}
			#torture-three-contain{
				height:450px;
				background-color: black;
				position: relative;
				top:25px;
				left:150px;
			}
				#electricity{
					position: relative;
					right:10px;
				}
				#rod{
					width:100%;
					position:relative;
					bottom: 450px;
				}
				#hand{
					width:100%;
					position:relative;
					bottom: 900px;
				}

	#page-ten{
		height:375px;
		background-color: white;
	}
	#page-eleven{
		height:1200px;
		width:100%;
		background-color:black;
		text-align: center;
	}
		#text-fifteen{
			color:black;
			background:white;
			text-align: justify;
			display: none;
		}
		#email{
			margin-top: 50px;
			width:60%;
			margin-left: auto;
			margin-right: auto;
			display: none;
		}
		
	#page-twelve{
		height:1100px;
		width:100%;
		background-color:black;
		text-align: center;
	}
		#text-sixteen{
			width:80%;
			margin-left: auto;
			margin-right: auto;
			text-align: justify;
			display:none;
		}
		#granddaughter{
			width:50%;
			position: relative;
			bottom:100px;
			margin-left: auto;
			margin-right: auto;
			display:none;
		}
		
	
/*  Extra Classes ------------------------------------- */

.cover{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	}
.hidden{
	display: none;
}











